body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://img.freepik.com/vector-gratis/fondo-acuarela-rosa-pintado-mano-detallado_1048-17039.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.rose {
  width: 50px;
  height: 80px;
  background-image: url('https://w7.pngwing.com/pngs/838/749/png-transparent-rose-flower-red-rose-flower-rose-order-flowers-thumbnail.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  cursor: pointer;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 2px solid #ff4081;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 20px;
}
