body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.rose {
  width: 50px;
  height: 80px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJUqrga5JRIcyL6XBh06v1wk_KOI2bc6m8127r_AKhubfMVLY8gjY1rUaVCg&s');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  cursor: pointer;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 2px solid #ff4081;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 20px;
}
